* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
    font-size: 16px;
    
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
    
}
.logo{
    width: 140px;
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;


}

.list-navigation{
    display: flex;
    gap:32px ;
    font-family: sans-serif;
    list-style: none;
    margin-top: 34px;
    font-size: 16px;
    font-weight: 500;

}

.btn{
width: 164px;
height: 44px;
border-radius: 4px;
background-color:rgba(70, 145, 101, 1);
padding: 12px 16px 12px 16px;
color: white;
font-weight: 600;
font-size: 16px;
margin-top:24px ;
border: none;
cursor: pointer;

}

.hero {
    min-height: 100vh;
    background:
    linear-gradient(rgba(48, 67, 86, 0.85), rgba(33, 109, 167, 0)),
    url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    color: white;
}

.hero-content {
    max-width: 800px;
}


.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: white;
    color: #3f8f5a;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 25px;
}

.badge .dot {
    width: 8px;
    height: 8px;
    background: #3f8f5a;
    border-radius: 50%;
}


.hero h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero h1 span {
    color: #3f8f5a;
}

.hero p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 40px;
    max-width: 1360px;
    height: 60px;

   
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.primary-btn {
    background: rgba(70, 145, 101, 1);
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.primary-btn img {
    width: 16px;
    height: 16px;
}

.secondary-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.play {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 12px solid white;
  
}

