* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont,
        'Segoe UI', sans-serif;
    font-size: 16px;

}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;

}

.logo {
    width: 140px;
    height: 60px;
    margin-top: 16px;


}

.list-navigation {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-top: 34px;
    font-size: 16px;
    font-weight: 500;

}

.btn {
    width: 164px;
    height: 44px;
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 1);
    padding: 12px 16px 12px 16px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-top: 24px;
    border: none;
    cursor: pointer;

    transition: all 0.3 ease;

}

.btn:hover{
    background-color: rgb(170, 23, 136);
}


.hero {
    min-height: 100vh;
    background:
        linear-gradient(rgba(48, 67, 86, 0.85), rgba(33, 109, 167, 0)),
        url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    color: white;
}

.hero-content {
    max-width: 800px;
}


.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: white;
    color: #3f8f5a;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 25px;
}

.badge .dot {
    width: 8px;
    height: 8px;
    background: #3f8f5a;
    border-radius: 50%;
}


.hero h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero h1 span {
    color: #3f8f5a;
}

.hero p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
    max-width: 1360px;
    height: 60px;


}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.primary-btn {
    background: rgba(70, 145, 101, 1);
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    transition: all 0.3 ease;
}
.primary-btn:hover{
    background-color: rgb(170, 23, 136);
}


.primary-btn img {
    width: 16px;
    height: 16px;
}

.secondary-btn {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.play {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 12px solid white;

}

.notes {
    text-align: center;
    padding: 60px 20px;
    margin:0px 120px 70px 120px;


}

.notes h1 {
    font-size: 48px;
    font-weight: 700;


}

.subtitle {
    color: #aaa;
    margin-bottom: 16px;
}

.problems {
    padding: 80px 20px;
    text-align: center;
}

.problems h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-weight: 400;
    margin: 0 auto 50px;
    font-size: 16px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    /* padding: 120px; */
    margin-top: 44px;
}

.card {
    background: rgba(255, 255, 255, 1);
    width: 322px;
    height: 300px;
    padding: 24px;
    margin-top: 44px;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.card img {
    margin-top: 70px;
    margin-bottom: 16px;
    padding: 18px;
    border-radius: 50%;
    background: rgba(249, 85, 85, 1);
}


.card h3 {
    font-size: 25px;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 16px;
    text-align: center;
}

.card p {
    font-size: 16px;
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}


.knowledge-part {
    display: flex;
    gap: 60px;
    margin:0px 120px;
    border: none;
}

.knowledge-part .k-img {
    border-radius: 12px;
    width: 600px;
    height: 600px;


}

.knowledge-part h3 {
    /* color: var(--#30B868, rgba(70, 145, 101, 1)); */
    color: #3f8f5a;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.knowledge-part h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    margin-bottom: 15px;
}

.knowledge-part p {
    font-size: 16px;
    font-weight: 400;
    width: 700px;
    height: 60px;
    text-align: left;
    color: var(--#627382, rgba(98, 115, 130, 1));
    margin-bottom: 15px;


}

.knowledge-part ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap:6px
}

.knowledge-part  img{
    width: 20px;
    height: 20px;
    
}

.knowledge-part .solution-part {
    margin-top: 102px;
}

.ready-part{
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    margin:120px 120px;
    

}


.ready-part h2{
    color: var(--Style, rgba(0, 25, 49, 1));
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}

.ready-part p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.ready-part .r-btn{
    background: rgba(70, 145, 101, 1);
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 16px;
    display: inline-flex;
    gap:10px;

    transition: all 0.3 ease;
    

}

.ready-part .r-btn:hover{
    background-color: rgb(170, 23, 136);
}



.ready-part h5{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


 .footer{
  background: rgba(0, 25, 49, 1);
  color: #fff;
  padding: 40px 120px 30px;
  flex-direction: column;
  min-height: 260px;
}
.footer .footer-social-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.footer img{
  width: 139px;
  height: 60px;
  align-self: flex-start;
  margin-top: 15px;
}

.divider{
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,0.15);
  margin-bottom: 25px;
  
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.footer-bottom p{
  font-size: 14px;
  margin:0 auto
}

.foot-all h2{
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
}

.icon-social{
  display: flex;
  gap: 16px;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 200px;
}